import --name __dependencies --type "File" --content @{zipFileAsBase64} --extension ".zip"
defVar --name __tempPath --type String
defVar --name __dependenciesDir --type String
defVar --name __dependenciesFilePath --type String
defVar --name __dummyFilePathForPowershell --type String
defVar --name __pid --type String